In [1]:
import pandas as pd
import os
import re
import json

In [2]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'dodo.py',
 'postgresql-2022-02-20_204738.csv',
 'Query parsing.ipynb',
 'README.md',
 'requirements.txt']

In [3]:
df = pd.read_csv('postgresql-2022-02-20_204738.csv', header=None)
df.head()

,0,1,2,3
0,2022-02-20 20:47:38.897 UTC,NaN,NaN,ending log output to stderr
1,2022-02-20 20:47:38.897 UTC,NaN,NaN,starting PostgreSQL 14.2 (Ubuntu 14.2-1.pgdg18...
2,2022-02-20 20:47:38.897 UTC,NaN,NaN,"listening on IPv4 address ""127.0.0.1"", port 5432"
3,2022-02-20 20:47:38.902 UTC,NaN,NaN,"listening on Unix socket ""/var/run/postgresql/..."
4,2022-02-20 20:47:38.915 UTC,NaN,NaN,database system was shut down at 2022-02-20 20...

In [4]:
df = df.drop([0, 1, 2])

In [5]:
queries = df[3].tolist()

In [6]:
len(set(queries))

69

In [7]:
queries[-10:]

['execute <unnamed>: SELECT * FROM pg_stat_user_indexes',
 'execute <unnamed>: SELECT * FROM pg_statio_user_indexes',
 "statement: ALTER SYSTEM SET log_destination='stderr'",
 "statement: ALTER SYSTEM SET logging_collector='off'",
 "statement: ALTER SYSTEM SET log_statement='none'",
 'received fast shutdown request',
 'aborting any active transactions',
 'background worker "logical replication launcher" (PID 10665) exited with exit code 1',
 'shutting down',
 'database system is shut down']

In [8]:
queries = [q for q in queries if q.startswith('execute')]
queries = list(set(queries))

In [9]:
re.sub(r'^execute [^:]*: ', '', 'execute S_1: COMMIT')

'COMMIT'

In [10]:
queries = [re.sub(r'^execute [^:]*: ', '', q) for q in queries ]

In [11]:
queries = [q for q in queries if 'pg_' not in q and not q.startswith('SHOW ALL') and not q.startswith('COMMIT') and not q.startswith('SET') and not q.startswith('BEGIN')]

In [12]:
queries = [q for q in queries if 'WHERE' in q or 'ORDER' in q]

In [13]:
queries

['UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3',
 'SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2',
 'UPDATE item SET title = $1 WHERE i_id=$2',
 'UPDATE item SET title = $1 WHERE i_id=$2',
 'SELECT * FROM trust t WHERE t.source_u_id=$1',
 'SELECT avg(rating) FROM review r WHERE r.i_id=$1',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2',
 'SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r WHERE r.i_id=$1',
 'SELECT * FROM trust t WHERE t.source_u_id=$1',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3',
 'UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3',
 'UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3',
 'UPDATE useracct SET name = $1 WHERE u_id=$2',
 'UPDATE useracct SET name = $1 WHERE u_id=$2']

In [14]:
cleaned_queries = [re.sub(r'\s+', ' ', q.replace('\n', ' ')) for q in queries]

In [15]:
cleaned_queries

['UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3',
 'SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2',
 'UPDATE item SET title = $1 WHERE i_id=$2',
 'UPDATE item SET title = $1 WHERE i_id=$2',
 'SELECT * FROM trust t WHERE t.source_u_id=$1',
 'SELECT avg(rating) FROM review r WHERE r.i_id=$1',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2',
 'SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC',
 'SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'SELECT avg(rating) FROM review r WHERE r.i_id=$1',
 'SELECT * FROM trust t WHERE t.source_u_id=$1',
 'SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10',
 'UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3',
 'UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3',
 'UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3',
 'UPDATE useracct SET name = $1 WHERE u_id=$2',
 'UPDATE useracct SET name = $1 WHERE u_id=$2']

In [17]:
def is_interesting(q):
    return q.startswith('execute') and not q.startswith('execute <unnamed>: COMMIT') and not q.startswith('execute <unnamed>: SET') and not q.startswith('execute <unnamed>: BEGIN') and not q.startswith('execute <unnamed>: SHOW ALL') and 'pg_' not in q

In [18]:
fqueries = [q for q in queries if is_interesting(q)]

In [19]:
relevant = [q for q in fqueries if 'WHERE' in q or 'ORDER' in q]
print(len(set(relevant)))
set(relevant)

0

set()

In [20]:
def extract_where_columns(ast):
    ast = ast['stmts']['stmt']['SelectStmt']
    alias_map = dict()

In [21]:
n = pglast.Node(pglast.parser.parse_sql('SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 ORDER BY creation_date DESC'))

NameError: name 'pglast' is not defined

In [ ]:
for node in n.traverse():
    print(node)

# Get all table columns
select table_schema, table_name, column_name from information_schema.columns where table_schema = 'public';

In [2]:
!pip install sql-metadata

Collecting sql-metadata
  Downloading sql_metadata-2.4.0-py3-none-any.whl (21 kB)
Collecting sqlparse<0.5.0,>=0.4.1
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 KB 469.5 kB/s eta 0:00:00 0:00:01
Installing collected packages: sqlparse, sql-metadata
Successfully installed sql-metadata-2.4.0 sqlparse-0.4.2
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/mnt/d/Projects/cmu/11637/11637Env/bin/python3.8 -m pip install --upgrade pip' command.

In [3]:
from sql_metadata import Parser

In [6]:
q = 'SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 and r.disk=2 ORDER BY creation_date DESC'
Parser(q).columns

['*', 'marks.disk', 'review.disk', 'review.i_id', 'creation_date']

In [88]:
RenderJSON(json.loads(pglast.parser.parse_sql_json('SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 and r.disk=2 ORDER BY creation_date DESC')))

In [90]:
"""select json_build_object('table_schema', json_agg(table_schema), 'table_name', json_agg(table_name), 'column_name', json_agg(column_name)) from information_schema.columns where table_schema = 'public';
"""
s = '{"table_schema" : ["public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public", "public"], "table_name" : ["useracct", "review_rating", "review_rating", "review_rating", "review_rating", "trust", "trust", "trust", "trust", "hypopg_list_indexes", "hypo", "useracct", "item", "item", "review", "review", "review", "review", "review", "review", "review_rating", "review_rating", "review_rating", "review_rating", "useracct", "useracct", "hypo", "hypopg_list_indexes", "item", "item", "review", "hypopg_list_indexes", "hypopg_list_indexes", "hypopg_list_indexes"], "column_name" : ["u_id", "creation_date", "last_mod_date", "type", "vertical_id", "source_u_id", "target_u_id", "trust", "creation_date", "indexrelid", "id", "creation_date", "i_id", "creation_date", "a_id", "u_id", "i_id", "rating", "rank", "creation_date", "u_id", "a_id", "rating", "status", "name", "email", "val", "index_name", "title", "description", "comment", "schema_name", "table_name", "am_name"]}'
columns = json.loads(s)

In [91]:
columns

{'table_schema': ['public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public',
  'public'],
 'table_name': ['useracct',
  'review_rating',
  'review_rating',
  'review_rating',
  'review_rating',
  'trust',
  'trust',
  'trust',
  'trust',
  'hypopg_list_indexes',
  'hypo',
  'useracct',
  'item',
  'item',
  'review',
  'review',
  'review',
  'review',
  'review',
  'review',
  'review_rating',
  'review_rating',
  'review_rating',
  'review_rating',
  'useracct',
  'useracct',
  'hypo',
  'hypopg_list_indexes',
  'item',
  'item',
  'review',
  'hypopg_list_indexes',
  'hypopg_list_indexes',
  'hypopg_list_indexes'],
 'column_name': ['u_id',
  'creation_date',
  'last_mod_date',
  'type',
  'vertical_id',
  'source_u_id',
  'target_u_id',
  'trust',
  'creation_date',
  'indexrelid',
  'id',
  'creation_date',
  'i_id',
  'creation_date',
  'a_id',
  'u_id',
  'i_id',
  'rating',
  'rank',
  'creation_date',
  'u_id',
  'a_id',
  'rating',
  'status',
  'name',
  'email',
  'val',
  'index_name',
  'title',
  'description',
  'comment',
  'schema_name',
  'table_name',
  'am_name']}

In [94]:
attrs = list(zip(*(val for val in columns.values())))

In [95]:
attrs

[('public', 'useracct', 'u_id'),
 ('public', 'review_rating', 'creation_date'),
 ('public', 'review_rating', 'last_mod_date'),
 ('public', 'review_rating', 'type'),
 ('public', 'review_rating', 'vertical_id'),
 ('public', 'trust', 'source_u_id'),
 ('public', 'trust', 'target_u_id'),
 ('public', 'trust', 'trust'),
 ('public', 'trust', 'creation_date'),
 ('public', 'hypopg_list_indexes', 'indexrelid'),
 ('public', 'hypo', 'id'),
 ('public', 'useracct', 'creation_date'),
 ('public', 'item', 'i_id'),
 ('public', 'item', 'creation_date'),
 ('public', 'review', 'a_id'),
 ('public', 'review', 'u_id'),
 ('public', 'review', 'i_id'),
 ('public', 'review', 'rating'),
 ('public', 'review', 'rank'),
 ('public', 'review', 'creation_date'),
 ('public', 'review_rating', 'u_id'),
 ('public', 'review_rating', 'a_id'),
 ('public', 'review_rating', 'rating'),
 ('public', 'review_rating', 'status'),
 ('public', 'useracct', 'name'),
 ('public', 'useracct', 'email'),
 ('public', 'hypo', 'val'),
 ('public', 'hypopg_list_indexes', 'index_name'),
 ('public', 'item', 'title'),
 ('public', 'item', 'description'),
 ('public', 'review', 'comment'),
 ('public', 'hypopg_list_indexes', 'schema_name'),
 ('public', 'hypopg_list_indexes', 'table_name'),
 ('public', 'hypopg_list_indexes', 'am_name')]

In [104]:
q = 'SELECT * FROM trust t JOIN (SELECT T FROM X WHERE T.i = 1) WHERE t.source_u_id=$1'
print(q)
re.sub(r'SELECT.*FROM', ' ', q)

SELECT * FROM trust t JOIN (SELECT T FROM X WHERE T.i = 1) WHERE t.source_u_id=$1

'  X WHERE T.i = 1) WHERE t.source_u_id=$1'

In [105]:
parsed_columns = []

for q in cleaned_queries:
    rel_q  = re.sub(r'SELECT.*FROM', ' ', q)
    q_col = []
    for _, table, attr in attrs:
        if table in rel_q and attr in rel_q:
            q_col.append((table, attr))
    parsed_columns.append((q, q_col))
    print(q)
    print(q_col)

SELECT * FROM trust t WHERE t.source_u_id=$1
[('trust', 'source_u_id'), ('trust', 'trust')]
UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust')]
UPDATE item SET title = $1 WHERE i_id=$2
[('item', 'i_id'), ('item', 'title')]
UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3
[('review', 'u_id'), ('review', 'i_id'), ('review', 'rating')]
SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC
[('review', 'i_id'), ('review', 'creation_date')]
SELECT * FROM review r WHERE r.i_id=$1 ORDER BY creation_date DESC
[('review', 'i_id'), ('review', 'creation_date')]
SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust'), ('review', 'u_id'), ('review', 'i_id')]
UPDATE useracct SET name = $1 WHERE u_id=$2
[('useracct', 'u_id'), ('useracct', 'name')]
UPDATE trust SET trust = $1 WHERE source_u_id=$2 AND target_u_id=$3
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust')]
SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('useracct', 'u_id'), ('useracct', 'creation_date'), ('review', 'u_id'), ('review', 'rating'), ('review', 'creation_date')]
UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3
[('review', 'u_id'), ('review', 'i_id'), ('review', 'rating')]
SELECT avg(rating) FROM review r WHERE r.i_id=$1
[('review', 'i_id')]
SELECT * FROM trust t WHERE t.source_u_id=$1
[('trust', 'source_u_id'), ('trust', 'trust')]
SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('item', 'i_id'), ('item', 'creation_date'), ('review', 'i_id'), ('review', 'rating'), ('review', 'creation_date')]
UPDATE item SET title = $1 WHERE i_id=$2
[('item', 'i_id'), ('item', 'title')]
UPDATE useracct SET name = $1 WHERE u_id=$2
[('useracct', 'u_id'), ('useracct', 'name')]
SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('useracct', 'u_id'), ('useracct', 'creation_date'), ('review', 'u_id'), ('review', 'rating'), ('review', 'creation_date')]
SELECT avg(rating) FROM review r WHERE r.i_id=$1
[('review', 'i_id')]
SELECT avg(rating) FROM review r, trust t WHERE r.u_id=t.target_u_id AND r.i_id=$1 AND t.source_u_id=$2
[('trust', 'source_u_id'), ('trust', 'target_u_id'), ('trust', 'trust'), ('review', 'u_id'), ('review', 'i_id')]
SELECT * FROM review r, item i WHERE i.i_id = r.i_id and r.i_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10
[('item', 'i_id'), ('item', 'creation_date'), ('review', 'i_id'), ('review', 'rating'), ('review', 'creation_date')]

In [43]:
pglast.parser.parse_sql_json('SELECT * FROM review r, useracct u WHERE u.u_id = r.u_id AND r.u_id=$1 ORDER BY rating DESC, r.creation_date DESC LIMIT 10')

'{"version":130003,"stmts":[{"stmt":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"A_Star":{}}],"location":7}},"location":7}}],"fromClause":[{"RangeVar":{"relname":"review","inh":true,"relpersistence":"p","alias":{"aliasname":"r"},"location":14}},{"RangeVar":{"relname":"useracct","inh":true,"relpersistence":"p","alias":{"aliasname":"u"},"location":24}}],"whereClause":{"BoolExpr":{"boolop":"AND_EXPR","args":[{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"u"}},{"String":{"str":"u_id"}}],"location":41}},"rexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"u_id"}}],"location":50}},"location":48}},{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"u_id"}}],"location":61}},"rexpr":{"ParamRef":{"number":1,"location":68}},"location":67}}],"location":57}},"sortClause":[{"SortBy":{"node":{"ColumnRef":{"fields":[{"String":{"str":"rating"}}],"location":80}},"sortby_dir":"SORTBY_DESC","sortby_nulls":"SORTBY_NULLS_DEFAULT","location":-1}},{"SortBy":{"node":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"creation_date"}}],"location":93}},"sortby_dir":"SORTBY_DESC","sortby_nulls":"SORTBY_NULLS_DEFAULT","location":-1}}],"limitCount":{"A_Const":{"val":{"Integer":{"ival":10}},"location":120}},"limitOption":"LIMIT_OPTION_COUNT","op":"SETOP_NONE"}}}]}'

In [44]:
pglast.parser.parse_sql_json('SELECT * FROM review r, useracct u join (select cake_id from cakes) as cake on r.cake_id = cake.cake_id')

'{"version":130003,"stmts":[{"stmt":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"A_Star":{}}],"location":7}},"location":7}}],"fromClause":[{"RangeVar":{"relname":"review","inh":true,"relpersistence":"p","alias":{"aliasname":"r"},"location":14}},{"JoinExpr":{"jointype":"JOIN_INNER","larg":{"RangeVar":{"relname":"useracct","inh":true,"relpersistence":"p","alias":{"aliasname":"u"},"location":24}},"rarg":{"RangeSubselect":{"subquery":{"SelectStmt":{"targetList":[{"ResTarget":{"val":{"ColumnRef":{"fields":[{"String":{"str":"cake_id"}}],"location":48}},"location":48}}],"fromClause":[{"RangeVar":{"relname":"cakes","inh":true,"relpersistence":"p","location":61}}],"limitOption":"LIMIT_OPTION_DEFAULT","op":"SETOP_NONE"}},"alias":{"aliasname":"cake"}}},"quals":{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"r"}},{"String":{"str":"cake_id"}}],"location":79}},"rexpr":{"ColumnRef":{"fields":[{"String":{"str":"cake"}},{"String":{"str":"cake_id"}}],"location":91}},"location":89}}}}],"limitOption":"LIMIT_OPTION_DEFAULT","op":"SETOP_NONE"}}}]}'

In [7]:
df.describe()

                                  0             1      2                    3
count                          1929          1918   1918                 1929
unique                         1304             2      7                   72
top     2022-02-20 20:47:38.897 UTC  project1user  BEGIN  execute S_1: COMMIT
freq                              3          1915    606                  602

In [12]:
df.groupby(3).count().sort_values(1)

                                                      0    1    2
3
aborting any active transactions                      1    0    0
listening on IPv4 address "127.0.0.1", port 5432      1    0    0
listening on Unix socket "/var/run/postgresql/....    1    0    0
received fast shutdown request                        1    0    0
starting PostgreSQL 14.2 (Ubuntu 14.2-1.pgdg18....    1    0    0
...                                                 ...  ...  ...
execute S_5: SELECT avg(rating) FROM review r W...   60   60   60
execute S_10: SELECT * FROM review r, item i WH...   66   66   66
execute S_3: UPDATE trust SET trust = $1 WHERE ...  114  114  114
execute S_2: BEGIN                                  589  589  589
execute S_1: COMMIT                                 602  602  602

[72 rows x 3 columns]

In [22]:
import pglast

In [23]:
from pglast import parse_sql

In [24]:
q = 'SELECT * FROM review r join marks m on m.disk = r.disk WHERE r.i_id=$1 ORDER BY creation_date DESC'

In [25]:
parse_sql(q)

(<RawStmt stmt=<SelectStmt targetList=(<ResTarget val=<ColumnRef fields=(<A_Star>,)>>,) fromClause=(<JoinExpr jointype=<JoinType.JOIN_INNER: 0> isNatural=False larg=<RangeVar relname='review' inh=True relpersistence='p' alias=<Alias aliasname='r'>> rarg=<RangeVar relname='marks' inh=True relpersistence='p' alias=<Alias aliasname='m'>> quals=<A_Expr kind=<A_Expr_Kind.AEXPR_OP: 0> name=(<String val='='>,) lexpr=<ColumnRef fields=(<String val='m'>, <String val='disk'>)> rexpr=<ColumnRef fields=(<String val='r'>, <String val='disk'>)>> rtindex=0>,) whereClause=<A_Expr kind=<A_Expr_Kind.AEXPR_OP: 0> name=(<String val='='>,) lexpr=<ColumnRef fields=(<String val='r'>, <String val='i_id'>)> rexpr=<ParamRef number=1>> sortClause=(<SortBy node=<ColumnRef fields=(<String val='creation_date'>,)> sortby_dir=<SortByDir.SORTBY_DESC: 2> sortby_nulls=<SortByNulls.SORTBY_NULLS_DEFAULT: 0>>,) limitOption=<LimitOption.LIMIT_OPTION_DEFAULT: 0> op=<SetOperation.SETOP_NONE: 0> all=False> stmt_location=0 stmt_len=0>,)

In [27]:
json.loads(pglast.parser.parse_sql_json('SELECT * FROM review r WHERE r.i_id=100 ORDER BY creation_date DESC'))

{'version': 130003,
 'stmts': [{'stmt': {'SelectStmt': {'targetList': [{'ResTarget': {'val': {'ColumnRef': {'fields': [{'A_Star': {}}],
          'location': 7}},
        'location': 7}}],
     'fromClause': [{'RangeVar': {'relname': 'review',
        'inh': True,
        'relpersistence': 'p',
        'alias': {'aliasname': 'r'},
        'location': 14}}],
     'whereClause': {'A_Expr': {'kind': 'AEXPR_OP',
       'name': [{'String': {'str': '='}}],
       'lexpr': {'ColumnRef': {'fields': [{'String': {'str': 'r'}},
          {'String': {'str': 'i_id'}}],
         'location': 29}},
       'rexpr': {'A_Const': {'val': {'Integer': {'ival': 100}},
         'location': 36}},
       'location': 35}},
     'sortClause': [{'SortBy': {'node': {'ColumnRef': {'fields': [{'String': {'str': 'creation_date'}}],
          'location': 49}},
        'sortby_dir': 'SORTBY_DESC',
        'sortby_nulls': 'SORTBY_NULLS_DEFAULT',
        'location': -1}}],
     'limitOption': 'LIMIT_OPTION_DEFAULT',
     'op': 'SETOP_NONE'}}}]}

In [45]:


pglast.parser.parse_sql_json('UPDATE review SET rating = $1 WHERE i_id=$2 AND u_id=$3')

'{"version":130003,"stmts":[{"stmt":{"UpdateStmt":{"relation":{"relname":"review","inh":true,"relpersistence":"p","location":7},"targetList":[{"ResTarget":{"name":"rating","val":{"ParamRef":{"number":1,"location":27}},"location":18}}],"whereClause":{"BoolExpr":{"boolop":"AND_EXPR","args":[{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"i_id"}}],"location":36}},"rexpr":{"ParamRef":{"number":2,"location":41}},"location":40}},{"A_Expr":{"kind":"AEXPR_OP","name":[{"String":{"str":"="}}],"lexpr":{"ColumnRef":{"fields":[{"String":{"str":"u_id"}}],"location":48}},"rexpr":{"ParamRef":{"number":3,"location":53}},"location":52}}],"location":44}}}}}]}'